/* ContactUs.css */

/* Full page container with rounded corners */
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 20px; /* Add some padding around the container */
}

.mainContact {
    display: flex;
    border-radius: 15px; /* Rounded corners for the entire container */
    overflow: hidden; /* Ensure content doesn't overflow out of rounded corners */
    width: 100%; 
    max-width: 1200px; /* Increase width as needed */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add a shadow for better visual separation */
}

.contactInfo,
.contactForm {
    flex: 3; /* Equal width for both sections */
    padding: 20px;
}

.contactInfo {
    background-color: #ffffff; /* White background */
    color: #000000;
}

.contactForm {
    background-color: #f0eaff; /* Light purple background */
    
}

/* Title Styling */
.contactInfo h1,.contactInfo h2 {
    font-size: 1.5rem; /* Adjust size as needed */
    color: #811fc7; 
    font-weight: bold;
}

.contactForm label {
    font-size: 2rem; /* Larger size for the 'Contact Us' title */
    font-weight: bold;
    color: #811fc7;
}
ul.list-unstyled li {
    font-weight: bold;
}

/* Form Styling */
.contactForm textarea {
    height: 150px;
    color: #000000; /* Black text color */
    border-radius: 4px;
    border: 1px solid #ced4da;
    resize: vertical;
}

.contactForm input,
.contactForm textarea,
.contactForm select {
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    padding: 10px;
    color: #000000; /* Black text color */
}

.contactForm input:focus,
.contactForm textarea:focus,
.contactForm select:focus {
    border-color: #6900ff;
    outline: none;
}

/* Social Media and Button Styling */
.social-media a {
    margin-right: 15px;
    color: #333; 
    text-decoration: none;
}

.social-media a:hover {
    color: #6900ff; /* Purple on hover */
}

.support-button {
    margin-top: 15px;
    display: block; 
    margin: 0 auto;
}

.btn-primary {
    margin-top: 1px;
    background-color: white;
    border: 2px solid #720e9e; 
    color: #720e9e; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.btn-primary:hover {
    background-color: #720e9e; 
    border: 2px solid #720e9e;
    color: white; 
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
    .contactInfo,
    .contactForm {
        padding: 15px;
    }

    .social-media a {
        margin-right: 10px;
    }
}
