.addUser {
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    color: #811fc7; 
    font-weight: bold;   
    box-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
}
.addUser h2{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
    
}
.addUserForm .inputGroup input {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #811fc7;
    box-sizing: border-box;
}
.addUserForm .inputGroup label{
    margin-top: 10px;
}
.inputGroup button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color:  #4681f4;
    border: 2px solid  #4681f4; 
    color: rgb(255, 255, 255); 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold;
}
.inputGroup button:hover {
    background-color: white; 
    color: Hex #4681f4; 
    font-weight: bold;
}
.btn.btn-success{
    

    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    border: 2px solid  #4681f4; 
}

.btn.btn-success:hover{
    background-color: white; 
    border: 2px solid  #4681f4; 
    color: #4681f4; 
}
.switch{
    margin-top: 30px;
    text-align: center;
}

.switch .btn.btn-primary{
    margin-top: 1px;
    background-color: #720e9e;
    border: 2px solid #720e9e; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold;
}

.switch .btn.btn-primary:hover{
    background-color: white; 
    color: #720e9e; 
    font-weight: bold;
}
@media (max-width: 480px) {
    .addUser {
        padding: 15px;
    }

    .addUser h2 {
        font-size: 1.5em;
    }

    .addUserForm .inputGroup input,
    .inputGroup button {
        padding: 8px;
    }
}