.addUser{
    width: 25%;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
}

.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addUserForm .inputGroup label{
    margin-top: 10px;
}

.addUserForm .inputGroup input{
    margin-top: 5px;
    padding: 10px ;
    border-radius: 5px;
    border: 1px solid #811fc7;
}

.inputGroup button{
    margin-top: 10px;
    background-color:  rgb(70, 129, 244);
    border: 2px solid  rgb(70, 129, 244); 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.inputGroup button:hover {
    background-color: white; 
    color:  #4681f4; 
    border: 2px solid  #4681f4;
}

.signup{
    margin-top: 30px;
    text-align: center;
}

.signup .btn.btn-success{
    margin-top: 1px;
    background-color: #720e9e;
    border: 2px solid #720e9e; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold;
}

.signup .btn.btn-success:hover{
    background-color: white; 
    color: #720e9e; 
    font-weight: bold;
}

.addUser h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
}