
.addUser{
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #811fc7;
    color: #811fc7; 
    font-weight: bold;   
   
}

.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.addUserForm .inputGroup label{
    margin-top: 10px;
}

.addUserForm .inputGroup input{
    margin-top: 5px;
    padding: 10px ;
    border-radius: 5px;
    border: 1px solid #811fc7;
}

.inputGroup button {
    margin-top: 10px;
    background-color:  #4681f4;
    border: 2px solid  #4681f4; 
    color: rgb(255, 255, 255); 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold;
}

.inputGroup button:hover {
    background-color: white; 
    color: Hex #4681f4; 
    font-weight: bold;
}


.login{
    margin-top: 30px;
    text-align: center;
}

.login .btn.btn-primary{
    margin-top: 1px;
    background-color: #720e9e;
    border: 2px solid #720e9e; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold;
}

.login .btn.btn-primary:hover{
    background-color: white; 
    color: #720e9e; 
    font-weight: bold;
}

.addUser h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
    
}