.addUser{
    width: 25%;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
    color: #6900ff;    
}

.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.addUserForm .inputGroup label{
    margin-top: 10px;
}

.addUserForm .inputGroup input{
    margin-top: 5px;
    padding: 10px ;
    

}

.inputGroup button{
    margin-top: 10px;
    background-color: green;
}



.login{
    margin-top: 30px;
    text-align: center;
}

.login .btn.btn-primary{
    width: 50%;
    background-color: #6900ff;

}

.addUser h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 8px rgba(0, 0, 0,0.065);
    
}