.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    color: #ddd;
    border-bottom: 2px solid #3c3c3c;
    background-color: #1e1e1e; /* Subtle background color */
    position: relative; /* To allow absolute positioning of nav-center */
    justify-content: center; /* Center all items */
    
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit color to keep it consistent */
    position: absolute; /* Center this absolutely */
    left: 50%;
    transform: translateX(-50%);
}

.navbar-icon {
    font-size: 3rem;
    color: #6900ff;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
    margin-left: auto; /* Pushes .nav-right to the right */
}
.user-dropdown select {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #393939;
    background: white;
    border: none;
    cursor: pointer;
  }
  
  .user-dropdown select:hover {
    background-color: #f0f0f0;
  }

.navbar button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #393939;
    background: white;
    border: none;
    cursor: pointer;
}
/* Responsive design adjustments for mobile screens */
@media screen and (max-width: 720px) {
    .navbar-logo {
        display: flex;
        align-items: left;
        left: 10%;
    }
    .navbar button{
        display: flex;
        align-items: left;
     
        padding: 10px 25px;

    }
}